/* Estilos Generales */
body {
    font-family: 'Lucida Sans', sans-serif;
    background-color: #CFBAF0; /* Color de fondo */
    color: #2B3044; /* Color del texto */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #858AE3; /* Color del encabezado */
    padding: 20px;
    text-align: center;
}

.logo-container h1 {
    color: #FFFFFF;
    margin: 0;
}

#login-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    width: 400px; /* Aumentado el ancho del contenedor */
    height: auto;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin: 10px 0 30px 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-buttons {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones sociales */
}

.form-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background-color: #858AE3; /* Color del botón */
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background-color: #6e7de3; /* Color de hover para el botón de inicio de sesión */
}

.facebook-login-button,
.google-login-button {
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 48%; /* Ancho para que ambos botones se alineen */
    border: 2px solid transparent; /* Sin borde inicial */
    transition: all 0.3s; /* Transiciones suaves */
}

.facebook-login-button {
    background-color: #4267B2; /* Color de Facebook */
    color: white;
    border: 2px solid #4267B2;
}

.google-login-button {
    background-color: #ffffff; /* Fondo blanco */
    color: #4285F4; /* Color de Google */
    border: 2px solid #4285F4; /* Borde azul de Google */
}

.facebook-login-button:hover {
    background-color: #365e98; /* Color de hover para Facebook */
}

.google-login-button:hover {
    background-color: #f1f1f1; /* Color de hover para Google */
}

.facebook-icon,
.google-icon {
    font-size: 18px;
    margin-right: 5px; /* Espaciado para el icono */
}

.sign-up-label {
    margin-top: 15px;
    font-size: 10px;
    color: #747474;
}

.sign-up-link {
    font-size: 11px;
    text-decoration: underline;
    color: #858AE3; /* Color del enlace de registro */
    font-weight: 800;
    cursor: pointer;
}

footer {
    background-color: #BBA9FF;
    color: white;
    padding: 10px;
    text-align: center;
}
