/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #CFBAF0;
    color: #2B3044;
    margin: 0;
    padding: 0;
}

header {
    background-color: #858AE3;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    margin: 0;
}

.menu button {
    background-color: #BBA9FF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #CFBAF0;
}

/* Sección Principal */
#Principal {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Publicaciones */
#publicaciones {
    width: 65%;
}

.post {
    background-color: #E9D6E5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo-post {
    color: #2B3044;
    font-size: 24px;
}

.img-post {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
}

.datos-publicaciones, .datos-publicados {
    color: #858AE3;
    font-weight: bold;
}

.parrafo-post {
    clear: both;
    color: #2B3044;
    margin: 10px 0;
}

.leer-mas, .num-comentarios {
    font-weight: bold;
    color: #BBA9FF;
}

/* Paginación */
#paginacion {
    text-align: center;
}

.enlace-paginacion {
    color: #858AE3;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    width: 30%;
}

.encabezado-sidebar {
    color: #2B3044;
    font-size: 18px;
    margin-bottom: 10px;
}

#buscar input[type="text"] {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #BBA9FF;
    border-radius: 5px;
}

.boton {
    background-color: #BBA9FF;
    color: #FFFFFF;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.lista-categorias, .lista-redes-sociales {
    list-style: none;
    padding: 0;
}

.lista-categorias li, .lista-redes-sociales li {
    margin-bottom: 10px;
}

.enlace-sidebar {
    color: #858AE3;
    text-decoration: none;
    font-weight: bold;
}

.ultimo-post {
    margin-bottom: 20px;
}

.ultimo-post h4 {
    color: #2B3044;
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #BBA9FF;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
