body {
    font-family: 'Arial', sans-serif;
    background-color: #C1C3F3; /* Color de fondo suave */
    margin: 0;
    padding: 0;
}

header {
    background-color: #BBA9FF; /* Color de encabezado */
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container h1 {
    margin: 0;
    color: #FFFFFF; /* Texto blanco */
}

.form-container {
    max-width: 400px; /* Tamaño del contenedor del formulario */
    margin: 50px auto;
    background-color: #FFFFFF; /* Fondo blanco para el formulario */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 20px;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 10px; /* Espacio entre campos */
}

.form label {
    flex: 1; /* Hace que los labels ocupen el mismo espacio */
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: royalblue; /* Color de fondo del botón */
    padding: 10px;
    border-radius: 10px;
    color: #fff; /* Texto blanco */
    font-size: 16px;
    transform: .3s ease;
    margin-top: 10px; /* Espacio arriba del botón */
}

.submit:hover {
    background-color: rgb(56, 90, 194); /* Color del botón al pasar el mouse */
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #BBA9FF; /* Color de fondo del pie de página */
    color: #FFFFFF; /* Texto blanco */
}
