<section id="authentication-modal" tabindex="-1" aria-hidden="true" [ngClass]="{'hidden': !showModal}"
    class="fixed inset-0 z-50 flex justify-center items-center bg-opacity-50 bg-black backdrop-blur-sm">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Contenido del modal -->
        <div class="relative bg-white rounded-lg shadow">
            <button type="button"
                class="absolute top-3 right-2.5 bg-transparent rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                data-modal-hide="authentication-modal" (click)="closeModal.emit()">
                <span class="text-gray-600 hover:text-gray-900">&#x2715;</span>
                <span class="sr-only">Cerrar modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900">Tu Cuenta</h3>
                <app-tabs-container>
                    <app-tab tabTitle="Iniciar Sesión">
                        <!-- Formulario de Inicio de Sesión -->
                        <form (ngSubmit)="login()">
                            <div class="mb-3">
                                <label class="inline-block mb-2">Correo Electrónico</label>
                                <input type="email" [(ngModel)]="emailLogin" name="emailLogin"
                                    class="block w-full py-1.5 px-3 border border-gray-400 transition
                                    duration-500 focus:outline-none rounded bg-transparent
                                    focus:border-[#787AE6] focus:ring-[#787AE6]"
                                    placeholder="Ingresa tu correo" required />
                            </div>
                            <div class="mb-3">
                                <label class="inline-block mb-2">Contraseña</label>
                                <div class="flex items-center justify-between rounded border border-gray-400"
                                    [ngClass]="{'border-[#787AE6] ring-1 ring-[#787AE6] transition duration-500': isFocused1}">
                                    <input class="outline-none w-full border-none focus:ring-0 mx-1"
                                        [type]="showPassword ? 'text' : 'password'" [(ngModel)]="passwordLogin"
                                        name="passwordLogin" placeholder="Contraseña" required
                                        (focus)="isFocused1 = true" (blur)="isFocused1 = false" />
                                    <i class="fa-regular fa-eye text-gray-400 px-3" *ngIf="!showPassword"
                                        (click)="togglePassword()"></i>
                                    <i class="fa-regular fa-eye-slash text-gray-400 px-3" *ngIf="showPassword"
                                        (click)="togglePassword()"></i>
                                </div>
                            </div>
                            <button type="submit" class="my-6 block w-full bg-[#787AE6] text-white py-1.5 px-3 rounded transition
                                hover:bg-[#5f61cc]">
                                Iniciar Sesión
                            </button>
                        </form>
                    </app-tab>
                    <app-tab tabTitle="Registrarse">
                        <!-- Formulario de Registro -->
                        <form (ngSubmit)="register()">
                            <div class="mb-3">
                                <label class="inline-block mb-2">Nombre</label>
                                <input type="text" [(ngModel)]="name" name="name"
                                    class="block w-full py-1.5 px-3 border border-gray-400 transition
                                    duration-500 focus:outline-none rounded bg-transparent focus:border-[#787AE6] focus:ring-[#787AE6]"
                                    placeholder="Ingresa tu nombre" />
                            </div>
                            <div class="mb-3">
                                <label class="inline-block mb-2">Correo Electrónico</label>
                                <input type="email" [(ngModel)]="emailRegister" name="emailRegister"
                                    class="block w-full py-1.5 px-3 border border-gray-400 transition
                                    duration-500 focus:outline-none rounded bg-transparent focus:border-[#787AE6] focus:ring-[#787AE6]"
                                    placeholder="Ingresa tu correo" required />
                            </div>
                            <div class="mb-3">
                                <label class="inline-block mb-2">Contraseña</label>
                                <div class="flex items-center justify-between rounded border border-gray-400"
                                    [ngClass]="{'border-[#787AE6] ring-1 ring-[#787AE6] transition duration-500': isFocused1}">
                                    <input class="outline-none border-none w-full focus:ring-0 mx-1"
                                        [type]="showPassword ? 'text' : 'password'" [(ngModel)]="passwordRegister"
                                        name="passwordRegister" placeholder="Contraseña" required
                                        (focus)="isFocused1 = true" (blur)="isFocused1 = false" />
                                    <i class="fa-regular fa-eye text-gray-400 px-3" *ngIf="!showPassword"
                                        (click)="togglePassword()"></i>
                                    <i class="fa-regular fa-eye-slash text-gray-400 px-3" *ngIf="showPassword"
                                        (click)="togglePassword()"></i>
                                </div>
                            </div>
                            <button type="submit" class="my-6 block w-full bg-[#787AE6] text-white py-1.5 px-3 rounded transition
                                hover:bg-[#5f61cc]">
                                Registrarse
                            </button>
                        </form>
                    </app-tab>
                </app-tabs-container>
            </div>
        </div>
    </div>
</section>
