<section class="bg-gray-100 flex flex-col px-12 py-6 min-h-screen">
    <div class="px-4 sm:px-10 py-4 inline-block">
        <nav class="relative" aria-label="Migas de pan">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="flex items-center">
                    <i class="fa-solid fa-house fa-xs text-purple-500"></i>
                </li>
                <li>
                    <div class="flex items-center">
                        <i class="fa-solid fa-chevron-right fa-xs text-purple-300"></i>
                        <a routerLink="/bookStore"
                            class="ml-1 text-sm font-medium text-purple-500 hover:text-[#0DBE5E] md:ml-2">Librería</a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <i class="fa-solid fa-chevron-right fa-xs text-purple-300"></i>
                        <span class="ml-1 text-sm font-medium text-purple-500 md:ml-2">Listado de libros</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="flex flex-col items-center justify-center p-4 my-4">
        <div class="container max-w-screen-lg mx-auto">
            <div class="grid gap-6 gap-y-4 text-sm grid-cols-1 lg:grid-cols-3">
                <div class="text-purple-600">
                    <p class="font-medium text-lg py-2">Detalles del libro</p>
                    <p>Por favor, completa todos los detalles del libro <br> que deseas listar.</p>
                </div>
                <div class="lg:col-span-2">
                    <form [formGroup]="bookForm" (ngSubmit)="addBook()">
                        <div class="grid gap-4 gap-y-4 text-sm grid-cols-1 md:grid-cols-5">
                            <!-- ISBN primero -->
                            <div class="md:col-span-2">
                                <label for="isbn" class="block mb-2 text-sm font-medium text-grey-600">ISBN<sup class="text-red-500 text-sm">*</sup></label>
                                <input name="isbn" id="isbn" formControlName="isbn"
                                    [ngClass]="{'ring-1 ring-red-500': bookForm.get('isbn')?.invalid && bookForm.get('isbn')?.touched}"
                                    class="bg-gray-50 border border-purple-400 text-gray-900 text-sm rounded-lg focus:ring-[#C2C3F3] focus:border-[#C2C3F3] block w-full p-2.5" />
                            </div>
                            <!-- Nombre del libro -->
                            <div class="md:col-span-5">
                                <label for="title" class="block mb-2 text-sm font-medium text-grey-600">Nombre del
                                    libro<sup class="text-red-500 text-sm">*</sup>
                                </label>
                                <input type="text" id="title" name="title" formControlName="title"
                                    [ngClass]="{'ring-1 ring-red-500': bookForm.get('title')?.invalid && bookForm.get('title')?.touched}"
                                    class="bg-gray-50 border border-purple-400 text-gray-900 text-sm rounded-lg focus:ring-[#C2C3F3] focus:border-[#C2C3F3] block w-full p-2.5" />
                            </div>
                            <!-- Nombre del autor -->
                            <div class="md:col-span-5">
                                <label for="author" class="block mb-2 text-sm font-medium text-grey-600">Nombre del
                                    autor<sup class="text-red-500 text-sm">*</sup></label>
                                <input type="text" id="author" name="author" formControlName="author"
                                    [ngClass]="{'ring-1 ring-red-500': bookForm.get('author')?.invalid && bookForm.get('author')?.touched}"
                                    class="bg-gray-50 border border-purple-400 text-gray-900 text-sm rounded-lg focus:ring-[#C2C3F3] focus:border-[#C2C3F3] block w-full p-2.5" />
                            </div>
                            <!-- Descripción -->
                            <div class="md:col-span-5">
                                <label for="description"
                                    class="block mb-2 text-sm font-medium text-grey-600">Descripción</label>
                                <textarea rows="5" id="description" name="description" formControlName="description"
                                    class="bg-gray-50 border border-purple-400 text-gray-900 text-sm rounded-lg focus:ring-[#C2C3F3] focus:border-[#C2C3F3] block w-full p-2.5"></textarea>
                            </div>
                            <!-- Condición -->
                            <div class="md:col-span-3">
                                <label for="condition" class="block mb-2 text-sm font-medium text-grey-600">Condición<sup
                                        class="text-red-500 text-sm">*</sup></label>
                                <label for="condition" class="sr-only">Seleccionar condición</label>
                                <select id="condition" name="condition" formControlName="condition"
                                    [ngClass]="{'ring-1 ring-red-500': bookForm.get('condition')?.invalid && bookForm.get('condition')?.touched}"
                                    class="bg-gray-50 border border-purple-400 text-gray-900 text-sm rounded-lg focus:ring-[#C2C3F3] focus:border-[#C2C3F3] block w-full p-2.5 peer">
                                    <option value="Nuevo">Nuevo</option>
                                    <option value="Bueno">Bueno</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Aceptable">Aceptable</option>
                                </select>
                            </div>
                            <!-- Botón Publicar -->
                            <div class="md:col-span-5 my-4">
                                <div class="inline-flex items-end">
                                    <button
                                        class="text-black bg-gradient-to-r from-[#C2C3F3] to-[#787AE6] hover:bg-gradient-to-br focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Publicar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
