<section class="min-h-screen">
    <div class="w-full bg-purple-200 relative">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-3 h-16">
            <!-- Logo con GIF más grande -->
            <div class="hidden sm:flex items-center cursor-pointer w-auto min-w-0 mr-4" (click)="noAction()">
                <img src="../../../assets/Logo2.jpg" class="h-14 transform transition duration-300 hover:scale-110 hover:shadow-lg" alt="Logo BookSwap" />
                <span class="self-center text-2xl font-semibold text-white hover:text-gray-300 transition duration-300 ml-2">Book-Swap</span>
            </div>

            <!-- Buscador -->
            <div class="relative flex-1 min-w-0 sm:w-[600px] h-[50px] text-base text-gray-900 flex items-center justify-center rounded-xl">
                <input type="search" id="searchTerm" name="searchTerm"
                    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-gray-800 focus:border-gray-800"
                    placeholder="Buscar por Título, Autor..." required [(ngModel)]="searchTerm"
                    (input)="searchBooks()">
            </div>

            <!-- Ícono de Usuario -->
            <div class="flex items-center gap-4 cursor-pointer relative ml-6 sm:ml-10 justify-center w-auto">
                <div (click)="toggleProfileDropdown()" class="flex">
                    <i class="fa-regular fa-user fa-lg text-gray-500"></i>
                    <i class="fa-solid fa-caret-down fa-lg text-gray-500 ml-2"></i>
                </div>
                <div *ngIf="isProfileDropdownOpen"
                    class="absolute top-6 right-0 z-50 bg-white w-52 text-[#767676] py-1 shadow-lg ring-1 ring-black ring-opacity-5 rounded-lg divide-y divide-gray-200">
                    <ul>
                        <li><a (click)="profileManagement()" class="text-gray-700 block px-4 py-2 hover:bg-purple-200">Gestión de Perfil</a></li>
                        <li><a href="#contact" class="text-gray-700 block px-4 py-2 hover:bg-purple-200">Ayuda y Soporte</a></li>
                        <li><a routerLink="/listBook" class="flex items-center px-4 py-2 text-gray-700 hover:bg-purple-200">Intercambiar Libro</a></li>
                    </ul>
                    <div class="py-1">
                        <a class="text-gray-700 block px-4 py-2 hover:bg-purple-200" (click)="logout()">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="container mx-auto px-4">
        <div class="my-10 mx-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-8">
            <div class="w-full relative group" *ngFor="let book of filteredBooks">
                <div class="max-w-80 max-h-80 relative overflow-hidden bg-gray-100">
                    <div class="w-[200px] h-[260px] mx-auto flex justify-center items-center">
                        <img class="max-h-[200px] group-hover:scale-110 transition duration-300 cursor-pointer"
                            [src]="book.coverImage" alt="Imagen de {{ book.title }}"
                            (click)="openBookDetailsModal(book.isbn, book.userUID)" />
                    </div>
                    <div class="absolute top-5 right-4">
                        <div class="px-2 py-1 bg-gray-800 text-white text-sm font-semibold rounded">
                            {{ book.condition }}
                        </div>
                    </div>
                </div>
                <div class="max-w-80 py-6 flex flex-col gap-1 border border-t-0 px-2">
                    <div class="flex flex-col gap-1 items-center justify-between font-titleFont h-[80px]">
                        <h2 class="text-lg text-gray-900 font-bold text-center leading-tight line-clamp-2">
                            {{ book.title }}
                        </h2>
                        <p class="text-gray-500 text-[14px]">{{ book.author }}</p>
                    </div>
                    <!-- Botón para ver detalles más pequeño -->
                    <button 
                        class="mt-2 px-3 py-1 text-sm bg-purple-600 text-white rounded-md hover:bg-purple-800 transition duration-300"
                        (click)="openBookDetailsModal(book.isbn, book.userUID)">
                        Ver Detalles
                    </button>
                </div>
            </div>
        </div>
        <app-book-detail *ngIf="isModalOpen" [isbn]="selectedISBN" [ownerUid]="selectedUserUID"
            (closeModalEvent)="closeModal()"></app-book-detail>
    </div>
</section>
<app-footer></app-footer>
