<app-header></app-header>
<section class="min-h-screen bg-gray-100">
    <div *ngIf="user" class="px-8 sm:px-12 py-6">
        <div class="sm:px-10 py-4 text-center sm:text-start">
            <nav class="relative" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="flex items-center">
                        <i class="fa-solid fa-house fa-xs text-[#787AE6]"></i>
                        <a routerLink="/" class="text-sm font-medium text-[#787AE6] hover:text-[#0DBE5E] md:ml-2">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right fa-xs text-[#787AE6]"></i>
                            <a routerLink="/bookStore" class="ml-1 text-sm font-medium text-[#787AE6] hover:text-[#0DBE5E] md:ml-2">
                                Intercambio de Libros
                            </a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right fa-xs text-[#787AE6]"></i>
                            <span class="ml-1 text-sm font-medium text-[#787AE6] md:ml-2">
                                Perfil
                            </span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
                
        <div class="grid grid-cols-1 sm:grid-cols-2 grid-rows-1 gap-4 sm:gap-10">
            <div class="col-span-1">
                <div class="flex flex-col items-start justify-center space-y-4 py-6 px-2 sm:px-10">
                    <div class="flex flex-col items-center sm:items-start justify-center gap-1 sm:gap-3">
                        <div class="flex flex-col sm:flex-row items-center justify-center space-x-2">
                            <img [src]="user.avatarUrl" alt="User Avatar" class="w-24 h-24 mx-auto rounded-full" />
                            <div class="flex items-center justify-between">
                                <h1 class="text-3xl font-semibold text-[#280F3E]">{{ user.username }}</h1>
                                <button *ngIf="isCurrentUserProfile()" class="p-2" (click)="toggleUpdateModal()">
                                    <i class="fa-solid fa-pen text-[#787AE6]"></i>
                                </button>
                            </div>
                        </div>
                        <h2 class="text-[#787AE6] text-xl">{{ user.firstName }} {{ user.lastName }}</h2>
                    </div>
                    <div class="border-t border-[#C2C3F3] pt-4">
                        <h2 class="text-xl font-semibold text-[#280F3E]">Información de usuario</h2>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]">Género:</label>
                            <p>{{ user.gender === 'male' ? 'Masculino' : user.gender === 'female' ? 'Femenino' : 'Otro' }}</p>
                        </div>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]">Localización:</label>
                            <p>{{ user.location }}</p>
                        </div>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]">Cumpleaños:</label>
                            <p>{{ user.birthday | date }}</p>
                        </div>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]">Acerca de mi:</label>
                            <p>{{ user.summary }}</p>
                        </div>
                        <h2 class="text-xl font-semibold text-[#280F3E] mt-4">Información de contacto</h2>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]"><i class="fa-regular fa-envelope px-1"></i></label>
                            <p>{{ user.userEmail }}</p>
                        </div>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]"><i class="fa-brands fa-instagram px-1"></i></label>
                            <a href="https://www.instagram.com/{{ user.instaId }}" target="_blank">{{ user.instaId }}</a>
                        </div>
                        <div class="mt-2 flex space-x-2">
                            <label class="text-[#787AE6]"><i class="fa-brands fa-x-twitter px-1"></i></label>
                            <a href="https://twitter.com/{{ user.twitterId }}" target="_blank">{{ user.twitterId }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="my-10 mx-2 sm:mx-10 grid grid-cols-1 lg:grid-cols-2 gap-8">
                    <div class="w-full relative group" *ngFor="let book of user.listedBooks">
                        <div class="max-w-80 max-h-80 relative overflow-hidden bg-[#C2C3F3]">
                            <div class="w-[200px] h-[260px] mx-auto flex justify-center items-center">
                                <img class="max-h-[200px] shadow-md" [src]="book.coverImage" alt="{{ book.title }} Image" />
                            </div>
                            <button *ngIf="!isCurrentUserProfile()" (click)="proposeBookTrade(book)" class="absolute top-5 right-4">
                                <i class="fa-solid fa-envelope px-2 py-1 bg-[#280F3E] text-white hover:bg-[#787AE6] text-base rounded group-hover:scale-110 transition duration-300"></i>
                            </button>
                            <div class="absolute top-5 left-4">
                                <div class="px-2 py-1 bg-[#280F3E] text-white hover:bg-[#787AE6] text-sm font-semibold rounded">
                                    {{ book.condition }}
                                </div>
                            </div>
                        </div>
                        <div class="max-w-80 py-6 flex flex-col gap-1 border border-t-0 px-2">
                            <div class="flex flex-col gap-1 items-center justify-between font-titleFont">
                                <h2 class="text-lg text-[#280F3E] font-bold text-center leading-tight">{{ book.title }}</h2>
                                <p class="text-[#787AE6] text-[14px]">{{ book.author }}</p>
                            </div>
                        </div>
                        <button *ngIf="isCurrentUserProfile()" (click)="showDeleteConfirmationModal(book)" class="absolute top-5 right-4 text-[#787AE6] hover:text-[#280F3E]" title="Eliminar libro">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <!-- Modal for form update -->
    <div tabindex="-1"
    class="fixed top-0 left-0 p-4 flex items-center justify-center z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%)] max-h-full bg-black bg-opacity-40 backdrop-blur-sm"
    *ngIf="showUpdateModal">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow px-6 py-6 lg:px-8">
            <h2 class="text-xl font-semibold text-gray-900 mb-4">Actualizar Perfil</h2>
            <form #updateForm="ngForm" (ngSubmit)="updateDetails(updateForm)" class="space-y-6">
                <div class="flex space-x-4">
                    <div class="relative flex-1">
                        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required
                            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="firstName"
                            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Nombre</label>
                    </div>
                    <div class="relative flex-1">
                        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName"
                            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="lastName"
                            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Apellido</label>
                    </div>
                </div>
                <div class="flex space-x-4">
                    <div class="relative flex-1">
                        <input type="date" id="birthday" name="birthday" [(ngModel)]="user.birthday" required
                            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
                        <label for="birthday"
                            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Cumpleaños</label>
                    </div>
                    <div class="relative flex-1">
                        <select id="gender" name="gender" [(ngModel)]="user.gender"
                            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                            <option value="male">Masculino</option>
                            <option value="female">Femenino</option>
                            <option value="other">Otro</option>
                        </select>
                        <label for="gender"
                            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Género</label>
                    </div>
                </div>
                <button type="submit" class="w-full py-2.5 px-4 bg-[#787AE6] text-white text-sm font-semibold rounded-md">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
</section>
