<div id="bookDetailsModal" tabindex="-1"
    class="fixed inset-0 flex items-center justify-center z-50 w-full h-full backdrop-blur-md bg-black/30 p-4">
    <div class="relative w-full max-w-3xl bg-white rounded-lg shadow-2xl overflow-auto max-h-[90vh] flex flex-col">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-5 border-b bg-purple-200">
            <h3 class="text-lg sm:text-2xl font-semibold text-gray-900">
                {{ bookDetails.volumeInfo.title }}
            </h3>
            <button type="button" class="text-gray-500 hover:text-purple-900 hover:bg-purple-200 p-2 rounded-full"
                (click)="closeModal()">
                <i class="fa-solid fa-xmark fa-lg"></i>
            </button>
        </div>

        <!-- Modal body con diseño flexible -->
        <div class="p-6 grid grid-cols-1 sm:grid-cols-[auto,1fr] gap-6 items-start">
            <!-- Imagen del libro (tamaño ajustable) -->
            <img class="w-full max-w-32 sm:max-w-48 h-auto object-contain rounded-md shadow-md mx-auto sm:mx-0"
                [src]="bookDetails.volumeInfo.imageLinks?.thumbnail || 'assets/default-book.jpg'"
                alt="{{ bookDetails.volumeInfo.title }} Image" />

            <!-- Información del libro -->
            <div class="flex flex-col gap-2">
                <h2 class="text-md sm:text-lg font-semibold text-purple-500">
                    {{ bookDetails.volumeInfo.authors?.[0] || 'Autor desconocido' }}
                    <span *ngIf="bookDetails.volumeInfo.authors?.length === 2">
                        y {{ bookDetails.volumeInfo.authors[1] }}
                    </span>
                </h2>
                <p class="text-purple-500 text-sm sm:text-base">
                    {{ bookDetails.volumeInfo.publisher || 'Editorial no disponible' }} - 
                    {{ bookDetails.volumeInfo.publishedDate || 'Fecha no disponible' }}
                </p>

                <!-- Descripción con scroll si es larga -->
                <div class="mt-2 text-black-400 text-sm sm:text-base leading-relaxed max-h-32 overflow-y-auto p-3 bg-purple-200 rounded-md shadow-inner">
                    {{ bookDetails.volumeInfo.description || 'No hay descripción disponible.' }}
                </div>

                <!-- Usuario dueño del libro -->
                <div class="mt-4 flex items-center gap-4 bg-purple-300 p-3 rounded-md shadow">
                    <img [src]="ownerAvatarUrl || 'assets/default-avatar.png'" 
                        alt="avatar" class="w-10 h-10 rounded-full shadow-md" />
                        <h2 class="text-gray-900 font-semibold" [innerText]="'@' + ownerUsername"></h2>
                    <button class="ml-auto text-[#9333ea] hover:text-purple-600" (click)="viewUser()">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
